.container {
  height: 459px;
  position: relative;
  width: 270px;
}

.menuItems {
}

.menuItem {
}

.content {
  letter-spacing: 0;
  line-height: 24px;
}

.highlight {
}

.menu-item {
}

.track {
  background: black;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

